In [1]:
import pandas as pd

In [2]:
# Load the dataframes from file_path
file_path = "/media/lars/F77E-7D07/"

games = pd.read_csv(file_path + "games.csv")
users = pd.read_csv(file_path + "users.csv")
recommendations = pd.read_csv(file_path + "recommendations.csv")

In [3]:
recommendations.head()

,app_id,helpful,funny,date,is_recommended,hours,user_id,review_id
0,975370,0,0,2022-12-12,True,36.3,51580,0
1,304390,4,0,2017-02-17,False,11.5,2586,1
2,1085660,2,0,2019-11-17,True,336.5,253880,2
3,703080,0,0,2022-09-23,True,27.4,259432,3
4,526870,0,0,2021-01-10,True,7.9,23869,4

In [4]:
# Restrict the dataframes to relevant columns
games = games[["app_id", "title"]]
recommendations = recommendations[["app_id", "user_id", "is_recommended"]]

In [5]:
recommendations.head()

    app_id  user_id  is_recommended
0   975370    51580            True
1   304390     2586           False
2  1085660   253880            True
3   703080   259432            True
4   526870    23869            True

In [13]:
# Filter to only have recommendations from users with at least 10 recommendations
users_min_reviews = 10

users_count = recommendations.groupby("user_id").size()
filtered_users_indices = users_count[users_count >= users_min_reviews].index
filtered_users = users[users["user_id"].isin(filtered_users_indices)]

filtered_recommendations = recommendations[recommendations["user_id"].isin(filtered_users_indices)]

In [14]:
# Filter to only have recommendations from games with at least 100 recommendations from the filtered_users
games_min_reviews = 0

games_count = filtered_recommendations.groupby("app_id").size()
filtered_games_indices = games_count[games_count >= games_min_reviews].index
filtered_games = games[games["app_id"].isin(filtered_games_indices)]

filtered_recommendations = filtered_recommendations[filtered_recommendations["app_id"].isin(filtered_games_indices)]

In [15]:
print(len(filtered_games), len(filtered_recommendations), len(filtered_users))

3091 4987676 282396

In [16]:
# Save the dataframes to file_path
filtered_users.to_csv("filtered_archive/users.csv", index=False)
filtered_recommendations.to_csv("filtered_archive/recommendations.csv", index=False)
filtered_games.to_csv("filtered_archive/games.csv", index=False)