In [1]:
import pandas as pd

In [2]:
# Load the dataframes from file_path
file_path = "/media/lars/F77E-7D07/"

games = pd.read_csv(file_path + "games.csv")
recommendations = pd.read_csv(file_path + "recommendations.csv")

In [9]:
recommendations[recommendations["user_id"] == 0]

           app_id  user_id  is_recommended
20008970   214490        0            True
22036352  1454400        0            True

In [4]:
# Restrict the dataframes to relevant columns
games = games[["app_id", "title"]]
recommendations = recommendations[["app_id", "user_id", "is_recommended"]]

In [5]:
recommendations.head()

    app_id  user_id  is_recommended
0   975370    51580            True
1   304390     2586           False
2  1085660   253880            True
3   703080   259432            True
4   526870    23869            True

In [6]:
# Filter to only have recommendations from users with at least 25 recommendations
min_recs = 25

recommendations_per_user = recommendations.groupby("user_id").size()
users_with_minimum_recs = \
    recommendations_per_user[recommendations_per_user >= min_recs].index

filtered_recommendations = \
    recommendations[recommendations["user_id"]
                    .isin(users_with_minimum_recs)]

In [14]:
# Filter to only have recommendations from games with at least 100 recommendations from the filtered_users
min_recs = 100

recommendations_per_game = recommendations.groupby("app_id").size()
games_with_minimum_recs = \
    recommendations_per_game[recommendations_per_game >= min_recs].index

filtered_games = games[games["app_id"]
                        .isin(games_with_minimum_recs)]
filtered_recommendations = \
    recommendations[recommendations["app_id"]
                    .isin(games_with_minimum_recs)]

In [15]:
print(len(filtered_games), len(filtered_recommendations))

3091 4987676 282396

In [16]:
# Save the dataframes to file_path
filtered_recommendations.to_csv("filtered_archive/recommendations.csv", index=False)
filtered_games.to_csv("filtered_archive/games.csv", index=False)